@model IEnumerable<MBasmProject.Models.Assignment>
@using MBasmProject.Models

@{
    ViewBag.Title = "Assignment";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    MBasm_AssignmentsEntities db = new MBasm_AssignmentsEntities();
    ViewData["lstCat"] = db.Categories.ToList();
}


<div class="card w-100">
    <div class="card-body p-4">
        <div style="display:flex; justify-content:space-between;">
            <h5 class="card-title fw-semibold mb-4">Current Assignments</h5>
            <button style=" height: fit-content;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#formAsmModal">
                Add
            </button>
        </div>
        <div class="table-responsive">
            <table class="table text-nowrap mb-0">
                <thead class="text-dark fs-4">
                    <tr>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">Id</h6>
                        </th>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">Image</h6>
                        </th>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">Title</h6>
                        </th>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">Category</h6>
                        </th>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">Description</h6>
                        </th>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">Grade</h6>
                        </th>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">Price</h6>
                        </th>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">Hot</h6>
                        </th>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">View</h6>
                        </th>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">Updated Date</h6>
                        </th>
                        <th class="border-bottom-0" style="width: 0;">
                            <h6 class="fw-semibold mb-0">Edit</h6>
                        </th>
                        <th class="border-bottom-0" style="width: 0;">
                            <h6 class="fw-semibold mb-0">Delete</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="trow_@item.Id">
                            <td class="border-bottom-0"><p class="fw-semibold mb-0">@item.Id</p></td>
                            <td class="border-bottom-0" style=" width: 90px;">
                                @{ string[] images = item.Images.Split(',');
                                    <img class="img-tiniPreview" src="~/assets/img/Asm/@images[0]" />
                                }
                            </td>
                            <td class="border-bottom-0">
                                <p class=" mb-0 fw-semibold">@item.Title</p>
                            </td>
                            <td class="border-bottom-0">
                                @* writing a null check before accessing the Name property, helping to avoid null reference exceptions.*@
                                <p class="mb-0 fw-normal">@(item.Category?.Name)</p>
                            </td>
                            <td class="border-bottom-0">
                                <div class="d-flex align-items-center gap-2">
                                    <span class="paragraphWrap">
                                        @item.Description
                                    </span>
                                </div>
                            </td>
                            <td class="border-bottom-0 text-center">
                                <p class="fw-semibold mb-0">@item.Grade</p>
                            </td>
                            <td class="border-bottom-0">
                                <p class="mb-0 fw-normal">@string.Format("{0:0,000}", item.Price).Replace(",", ".")</p>
                            </td>
                            <td class="border-bottom-0">
                                <p class="mb-0 fw-normal">@item.Hot</p>
                            </td>
                            <td class="border-bottom-0">
                                <p class="mb-0 fw-normal">@item.TotalView</p>
                            </td>
                            <td class="border-bottom-0">
                                <p class="mb-0 fw-normal">@string.Format("{0:dd/MM/yy}", item.UpdatedDate)</p>
                            </td>
                            <td class="border-bottom-0" style="text-align:center;">
                                <a data-id="@item.Id" class="btnEditAsm">
                                    <i data-bs-toggle="modal" data-bs-target="#formAsmModalUpdate" style="cursor: pointer;" class="fa-regular fa-pen-to-square"></i>
                                </a>
                            </td>
                            <td class="border-bottom-0" style="text-align:center;">
                                <a class="btnDeleteAsm" data-id="@item.Id">
                                    <i style="cursor: pointer;" class="fa-regular fa-trash-can"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Modal create-->
<div class="modal fade" id="formAsmModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Create new assignment</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form id="AssignmentForm" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label class="form-label">Title</label>
                        <input type="text" name="Title" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Category</label>
                        <select id="InputAsmCat" name="Category_id" class="form-control">
                            <option value="InputAsmCat">Select an option</option>
                            @foreach (var item in ViewData["lstCat"] as IEnumerable<MBasmProject.Models.Category>)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Description</label>
                        <input type="text" name="Description" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Grade</label>
                        <select name="Grade" class="form-select">
                            <option value="">Undefined</option>
                            <option value="P">P</option>
                            <option value="M">M</option>
                            <option value="D">D</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Price</label>
                        <input type="number" name="Price" class="form-control">
                    </div>
                    <div class="form-check form-switch mb-3">
                        <input class="form-check-input" type="checkbox" value="True" name="Hot">
                        <label class="form-check-label">Check if the assignment is hot!</label>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">File Word</label>
                        <input id="" type="file" name="FileDocx" accept="application/vnd.openxmlformats-officedocument.wordprocessingml.document" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">File Pdf</label>
                        <input id="" type="file" name="FilePdf" accept="application/pdf" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">File Powerpoint</label>
                        <input id="" type="file" name="FilePptx" accept="application/vnd.ms-powerpoint, application/vnd.openxmlformats-officedocument.presentationml.presentation" class="form-control">
                    </div>
                    <div class="mb-4">
                        <label class="form-label">Images</label>
                        <input id="" type="file" multiple name="images" accept="image/*" class="form-control">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" id="" class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<!-- Modal update-->
<div class="modal fade" id="formAsmModalUpdate" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Update assignment's info</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form @*id="AssignmentForm" enctype="multipart/form-data"*@>
                    <div class="mb-3">
                        <label class="form-label">Title</label>
                        <input id="InputAsmTitle" type="text" name="Title" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Category</label>
                        <select name="Category_id" class="form-control">
                            <option value="InputAsmCat">Select an option</option>
                            @foreach (var item in ViewData["lstCat"] as IEnumerable<MBasmProject.Models.Category>)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Description</label>
                        <input id="InputAsmDes" type="text" name="Description" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Grade</label>
                        <select value="InputAsmGrade" name="Grade" class="form-select">
                            <option value="">Undefined</option>
                            <option value="P">P</option>
                            <option value="M">M</option>
                            <option value="D">D</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Price</label>
                        <input id="InputAsmPrice" type="number" name="Price" class="form-control">
                    </div>
                    <div class="form-check form-switch mb-3">
                        <input id="InputAsmHot" class="form-check-input" type="checkbox" value="True" name="Hot">
                        <label class="form-check-label">Check if the assignment is hot!</label>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">File Word</label>
                        <input id="InputAsmFileDocx" type="file" name="FileDocx" accept="application/vnd.openxmlformats-officedocument.wordprocessingml.document" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">File Pdf</label>
                        <input id="InputAsmFilePdf" type="file" name="FilePdf" accept="application/pdf" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">File Powerpoint</label>
                        <input id="InputAsmPptx" type="file" name="FilePptx" accept="application/vnd.ms-powerpoint, application/vnd.openxmlformats-officedocument.presentationml.presentation" class="form-control">
                    </div>
                    <div class="mb-4">
                        <label class="form-label">Images</label>
                        <input id="InputAsmImages" type="file" multiple name="images" accept="image/*" class="form-control">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" id="" class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript" src="@Url.Content("~/ScriptsAjax/Assignment.js")"></script>
}

