@model IEnumerable<MBasmProject.Models.Userpp>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card w-100">
    <div class="card-body p-4">
        <div style="display:flex; justify-content:space-between;">
            <h5 class="card-title fw-semibold mb-4">Account Management</h5>
            <!-- Button trigger modal -->
            <form class="d-flex h-75" method="post">
                <div class="form-outline">
                    <input name="filter" placeholder="Type user's gmail..." value="@ViewBag.Usfilter" type="search" class="form-control" style="height: 100%;" />
                </div>
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>
        <div class="table-responsive">
            <table class="table text-nowrap mb-0 align-middle">
                <thead class="text-dark fs-4">
                    <tr>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">Id</h6>
                        </th>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">Full Name</h6>
                        </th>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">Gmail</h6>
                        </th>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">Join Date</h6>
                        </th>
                        <th class="border-bottom-0" style="width: 0;">
                            <h6 class="fw-semibold mb-0">Active</h6>
                        </th>
                        <th class="border-bottom-0" style="width: 0;">
                            <h6 class="fw-semibold mb-0">Delete</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="trow_@item.Id">
                            <td class="border-bottom-0"><h6 class="fw-semibold mb-0">@item.Id</h6></td>
                            <td class="border-bottom-0">
                                <h6 class="fw-semibold mb-0">@item.Fullname</h6>
                            </td>
                            <td class="border-bottom-0">
                                <p class="mb-0 fw-normal">@item.Gmail</p>
                            </td>
                            <td class="border-bottom-0">
                                <p class="mb-0 fw-normal">@item.JoinDate</p>
                            </td>
                            <td class="border-bottom-0" style="text-align:center;">
                                <div class="form-check form-switch">
                                    <input data-id="@item.Id" class="form-check-input checkActiveUser" name="Active" type="checkbox" @(item.Active.Value ? "checked" : "")>
                                </div>
                            </td>
                            <td class="border-bottom-0" style="text-align:center;">
                                <a data-id="@item.Id" class="btnDeleteUser">
                                    <i style="cursor: pointer;" class="fa-regular fa-trash-can"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts{

    <script>
        $(document).ready(function () {

            $('.checkActiveUser').on('change', function () {
                var tmpId = $(this).data("id");
                var checkActive = $(this).is(':checked');
                var conf;

                if (checkActive) {
                    conf = confirm("Are you sure to active this User?");
                }
                else {
                    conf = confirm("Are you sure to unactive this User?");
                }

                if (conf == true) {
                    $.ajax({
                        url: '/Admin/Client/SetActive',
                        type: 'Post',
                        data: {
                            id: tmpId,
                            active: checkActive
                        },
                        success: function (rs) {
                            if (rs.success == true) {
                            }
                            else {
                                $(this).prop('checked', !checkActive);
                                alert("Set active fail!")
                            }
                        }
                    });
                }
            });



            $('.btnDeleteUser').on('click', function () {
                var tmpId = $(this).data("id");
                // -- Jquery --
                var conf = confirm("Are you sure to delete this User?");
                // Ajax
                if (conf == true) {
                    $.ajax({
                        url: '/Admin/Client/DeleteUser',
                        type: 'Post',
                        data: { id: tmpId },
                        success: function (rs) {
                            if (rs.success == true) {
                                $('#trow_' + tmpId).remove();
                            }
                        }
                    });
                }
            });

        });



    </script>


}
