@model IEnumerable<MBasmProject.Models.Order>
@{
    Layout = null;
}

<h3 class="mb-4">My order</h3>
<table class="content-table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Note</th>
            <th>Date</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Note</td>
                    <td>@string.Format("{0:dd/MM/yy}", item.OrderDate)</td>
                    <td>@item.Quanitty</td>
                    <td>@string.Format("{0:0,000}", item.TotalPrice).Replace(",", ".")</td>
                    @{
                        if (item.Status == true)
                        {
                            <td style="color: green">
                                Finish
                            </td>
                        }
                        else
                        {
                            <td style="color: #ad0909">
                                Pending
                            </td>
                        }
                    }
                </tr>
            }
        }
    </tbody>
</table>
