@using MBasmProject.Models

@{
    var user = Session["User"] as Userpp;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>@ViewBag.Title</title>
    @*<meta content="" name="description">
        <meta content="" name="keywords">*@

    <!-- Favicons -->
    <link href="~/assets/img/logo_transparent2.png" rel="icon">
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    @*<link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">*@
    @*<link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">*@
    @*<link href="~/assets/vendor/remixicon/remixicon.css" rel="stylesheet">*@
    @*<link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">*@
    <link href="~/assets/css/ProfileBtn.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="~/assets/css/style.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

    @RenderSection("htmlstyle", required: false)

</head>
<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top @ViewBag.ColorNav">
        <div class="container d-flex align-items-center justify-content-lg-between">

            <h1 class="logo me-auto me-lg-0"><a style="pointer-events: none">MB</a></h1>

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a class="nav-link scrollto active" href="/Home">Home</a></li>
                    <li><a class="nav-link scrollto" href="#about">About</a></li>
                    @*<li><a class="nav-link scrollto" href="#team">Team</a></li>*@
                    <li class="dropdown">
                        <a href="~/Subject"><span>Subjects</span> @*<i class="bi bi-chevron-down"></i>*@</a>
                        <ul>
                            <li><a href="">English Subject</a></li>
                            <li class="dropdown">
                                <a href="#"><span>Major subject</span> <i class="bi bi-chevron-right"></i></a>
                                <ul>
                                    <li><a href="#">Programming</a></li>
                                    <li><a href="#">Networking</a></li>
                                    <li><a href="#">Database Design & Development</a></li>
                                    <li><a href="#">Website Design & Development</a></li>
                                    <li><a href="/Subject">View More...</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#"><span>Soft Skill</span> <i class="bi bi-chevron-right"></i></a>
                                <ul>
                                    <li><a href="#">Working in group</a></li>
                                    <li><a href="#">Professional Practice</a></li>
                                    <li><a href="/Subject">View More...</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
            <!-- .navbar -->
            @{
                if (user != null)
                {
                    <div class="profile-button">
                        <a href="/User/Home" class="docs">
                            Welcome back "@user.Fullname"
                        </a>
                        <a href="/Access/Logout" class="logout-button">
                            <i class="fa-solid fa-right-from-bracket"></i>
                        </a>
                    </div>
                }
                else
                {
                    <a href="/Access" class="get-started-btn scrollto">Let's go</a>
                }
            }

        </div>
    </header><!-- End Header -->


    <div>
        @RenderBody()
    </div>



    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row" style="justify-content:center;">

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-info">
                            <h3>MB<span>.</span></h3>
                            <p>
                                Empowering Students<br>
                                Excelling Together! <br><br>
                                <strong>Phone:</strong> +84 70 616 2561<br>
                                <strong>Email:</strong> minhbee203@gmail.com<br>
                            </p>
                            <div class="social-links mt-3">
                                <a href="https://www.facebook.com/bmint1709/"><i class="fa-brands fa-facebook"></i></a>
                                <a href="https://www.instagram.com/bmint_1709/"><i class="fa-brands fa-instagram"></i></a>
                                <a href="https://www.linkedin.com/in/minh-bui-166979272/"><i class="fa-brands fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Our Hottest</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Study skills for University success</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Academic English for non-business</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Database Design & Development</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Software Development Life Cycles</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Website Design & Development</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <h4>Get lastest assignments</h4>
                        <p>If you want to receive the information of lastest assignments. Please, subscribe by sending your email!</p>
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="Subscribe">
                        </form>

                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>MB</span></strong>. All Rights Reserved
            </div>
        </div>
    </footer><!-- End Footer -->
    <!-- Vendor JS Files -->
    @*<script src="~/assets/vendor/purecounter/purecounter_vanilla.js"></script>
        <script src="~/assets/vendor/aos/aos.js"></script>
        <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/assets/vendor/glightbox/js/glightbox.min.js"></script>
        <script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
        <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
        <script src="~/assets/vendor/php-email-form/validate.js"></script>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <!-- Block other to view code - open to view source -->
    <script src="~/assets/js/main.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
